[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
sendgrid = "*"
python-dotenv = "*"
drf-yasg = "*"
django-rest-auth = "*"
django-smtp-ssl = "*"
django-ses = {extras = ["bounce"],version = "*"}
m2crypto = "*"

[requires]
python_version = "3.8"
